<div class="mario-404-container">
  <div class="mario-404-content">
    <div class="mario-404-number">
      <span class="four">4</span>
      <div class="mario-coin">
        <div class="coin-animation"></div>
      </div>
      <span class="four">4</span>
    </div>
    
    <h1>Oops! Pagina non trovata</h1>
    
    <p class="mario-404-message">
      Sembra che tu abbia preso un tubo sbagliato! La pagina che stai cercando non esiste nel Regno dei Funghi.
    </p>
    
    <div class="mario-404-characters">
      <img src="sad-mario.png" alt="Mario triste" class="mario-character">
      <img src="sad-luigi.png" alt="Luigi confuso" class="luigi-character">
    </div>
    
    <app-mario-button routerLink="/home" [cta]="'torna alla home'" class="home-button">
      Torna alla Home
    </app-mario-button>
  </div>
</div>